<h1>Listing campaigns</h1>
<%= link_to 'New Campaign', new_admin_campaign_path, class:'button' %>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Advertiser</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.id %></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.advertiser %></td>
        <td><%= link_to 'Show', [:admin, campaign], class:'button green small' %></td>
        <td><%= link_to 'Edit', edit_admin_campaign_path(campaign), class:'button blue small' %></td>
        <td><%= link_to 'Destroy', [:admin, campaign], class:'button red small', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
