<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="show-container">
  <div class="title-header">
    <h1><%= @campaign.name %></h1>
    <div class="action">
      <%= link_to t('edit'), edit_admin_campaign_path(@campaign), class:'button blue' %>
      <%= link_to t('back'), admin_campaigns_path, class:'button' %>
    </div>
  </div>
  <table class="table-show">
    <tr>
      <th><%= Ads::Campaign.human_attribute_name('name') %></th>
      <td><%= @campaign.name %></td>
    </tr>
    <tr>
      <th><%= Ads::Campaign.human_attribute_name('advertiser') %></th>
      <td><%= @campaign.advertiser %></td>
    </tr>
  </table>
</div>
<br>


<%= render 'ads/admin/ads/table'  %>

