<p id="notice"><%= notice %></p>

<h3><%= @campaign.name %></h3>
<h4><%= @campaign.advertiser %></h4>

<br>

<%= render 'ads/ads/table'  %>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
