<div class="form">
  <%= form_for [:admin, @campaign, @ad] do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :campaign_id, value: @campaign.id %>

  <div>
    <%= f.label :banner %>
    <%= f.select :banner_id, @banner_list, class:'form-input large' %>
  </div>

  <div>
    <%= f.label :display_count %>
    <%= f.text_field :display_count, class:'form-input large' %>
  </div>

  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class:'form-input large' %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class:'form-input large' %>
  </div>

  <div>
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link, class:'form-input large' %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' ,class:'button green' %>
  </div>
  <% end %>
</div>
