<div class="content">
  <h2>Listing ads</h2>
  <br>
  <%= link_to 'New Advertiser', new_admin_campaign_ad_path(@campaign), class: 'button' %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Banner</th>
        <th>Display Count</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Disable</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td><%= ad.id %></td>
          <td><%= ad.banner.try :name %></td>
          <td><%= ad.display_count %></td>
          <td><%= ad.start_date %></td>
          <td><%= ad.end_date %></td>
          <td><%= ad.disable %></td>
          <td><%= link_to 'Show', admin_campaign_ad_path(@campaign, ad), class:'button small green' %></td>
          <td><%= link_to 'Edit', edit_admin_campaign_ad_path(@campaign, ad), class:'button small blue' %></td>
          <td><%= link_to 'Destroy', admin_campaign_ad_path(@campaign, ad), class:'button small red',
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>