<div class="form">
<%= form_for [:admin, @banner] do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-input' %>
  </div>
  
  <div>
    <%= f.label :width %>
    <%= f.text_field :width, class:'form-input' %>
  </div>

  <div>
    <%= f.label :height %>
    <%= f.text_field :height, class:'form-input' %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class:'button green' %>
  </div>

<% end %>
</div>