<h1>Banners</h1>
<%= link_to 'New Banner', new_admin_banner_path, class:'button' %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.id %></td>
        <td><%= banner.name %></td>
        <td><%= banner.width %></td>
        <td><%= banner.height %></td>
        <td><%= link_to 'Show', [:admin, banner], class:'button green small' %></td>
        <td><%= link_to 'Edit', edit_admin_banner_path(banner), class:'button blue small' %></td>
        <td><%= link_to 'Destroy', [:admin, banner], class:'button red small', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
