<p id="notice"><%= notice %></p>

<h3><%= @banner.name %></h3>
<h4><%= @banner.width %></h4>
<h4><%= @banner.height %></h4>

<%= link_to 'Edit', edit_admin_banner_path(@banner) %> |
<%= link_to 'Back', admin_banners_path %>
