<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<h2><%= @banner.name %></h2>
<table class="table table-show">
  <tr>
    <th>name</th>
    <td><%= @banner.name %></td>
  </tr>
  <tr>
    <th>width</th>
    <td><%= @banner.width %></td>
  </tr>
  <tr>
    <th>height</th>
    <td><%= @banner.height %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_admin_banner_path(@banner), class:'button blue' %>
<%= link_to 'Back', admin_banners_path, class:'button' %>
