<h2>Listing ads</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>banner</th>
      <th>display count</th>
      <th>start date</th>
      <th>End Date</th>
      <th>Disable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.id %></td>
        <td><%= ad.banner.try :name %></td>
        <td><%= ad.display_count %></td>
        <td><%= ad.start_date %></td>
        <td><%= ad.end_date %></td>
        <td><%= ad.disable %></td>
        <td><%= link_to 'Show', campaign_ad_path(@campaign, ad) %></td>
        <td><%= link_to 'Edit', edit_campaign_ad_path(@campaign, ad) %></td>
        <td><%= link_to 'Destroy', campaign_ad_path(@campaign, ad), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_campaign_ad_path(@campaign) %>
